<div class="jumbotron bg-transparent shadow-lg">
  <h1 class="display-4">About Me!</h1>
  <p class="lead font-italic">Hi there, I am software engineer I blog about backend & frontend technologies, algorithms, and what ever I find it interesting, I share what I learned in my career with others in different way, thats what life mean to me in programming world which is similar to real life. <span class="text-success">(learn => accomplish => help)</span> repeat</p>
</div>

<h1 class="display-3 text-center mb-3">Some Of My Projects</h1>

<div class="container-fluid">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Milano Restourant</h5>
        <hr class="my-4">
        <p class="card-text">It's a website where customers can look at to what the restaurant has to offers from the different meals and recipe.</p>
      </div>
      <div class="card-footer">
        <a href="https://milanosavsjo.se" class="btn btn-outline-light">take a look!</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My Blog</h5>
        <hr class="my-4">
        <p class="card-text">Where I will share my knowledge with you! -not released yet</p>
      </div>
      <div class="card-footer">
        <a href="https://staging.codeandcoffees.com" class="btn btn-outline-light">take a look!</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Blog Manager</h5>
        <hr class="my-4">
        <p class="card-text">It's the Pen behind my blog where I publish every thing from here!</p>
      </div>
      <div class="card-footer">
        <a href="https://staging.blogmanager.codeandcoffees.com" class="btn btn-outline-light">take a look!</a>
      </div>
    </div>
  </div>
</div>
