<!--#region Side Nav------------------------------------------------------------------------------------------>
<div id="aboutPageId"
     class="row m-0">
  <!--Side Section------------------------------------------------------------------------------------------>
  <div class="col-md-3 col-lg-2 mr-0 mb-auto p-0 bg-dark">
    <!--Title------------------------------------------------------------------------------------------>
    <div class="position-relative text-center p-1 p-md-2 overflow-hidden">
      <h1 id="aboutMeHeaderId"
          class="position-relative d-inline-block lead font-weight-bold font-italic m-0 p-2 pills_header_animation"
          in-view-animation="pills_header_animation_in">
        <span class="pills_header_top_line pills_header_lines"></span>
        <span class="pills_header_right_line pills_header_lines"></span>
        About Me
        <span class="pills_header_bottom_line pills_header_lines"></span>
        <span class="pills_header_left_line pills_header_lines"></span>
      </h1>
    </div>
    <!-- Side Nav -->
    <nav class="nav nav-justified flex-md-column nav-pills"
         id="v-pills-tab"
         role="tablist"
         aria-orientation="vertical">
      <a class="nav-item nav-link rounded-0 active"
         id="v-pills-who-am-i-tab"
         data-toggle="pill"
         href="#v-pills-who-am-i"
         role="tab"
         aria-controls="v-pills-who-am-i"
         aria-selected="true">Who Am I</a>
      <a class="nav-item nav-link rounded-0"
         id="v-pills-background-tab"
         data-toggle="pill"
         href="#v-pills-background"
         role="tab"
         aria-controls="v-pills-background"
         aria-selected="true">Background</a>
      <a class="nav-item nav-link rounded-0"
         id="v-pills-technical-skills-tab"
         data-toggle="pill"
         href="#v-pills-technical-skills"
         role="tab"
         aria-controls="v-pills-technical-skills"
         aria-selected="false">Technical Skills</a>
      <a class="nav-item nav-link rounded-0"
         id="v-pills-interest-tab"
         data-toggle="pill"
         href="#v-pills-interest"
         role="tab"
         aria-controls="v-pills-interest"
         aria-selected="false">Interest</a>
      <a class="nav-item nav-link rounded-0"
         id="v-pills-education-tab"
         data-toggle="pill"
         href="#v-pills-education"
         role="tab"
         aria-controls="v-pills-education"
         aria-selected="false">Education</a>
      <a class="nav-item nav-link rounded-0"
         id="v-pills-hobbies-tab"
         data-toggle="pill"
         href="#v-pills-hobbies"
         role="tab"
         aria-controls="v-pills-hobbies"
         aria-selected="false">Hobbies</a>
    </nav>
  </div>
  <!--Side Content -->
  <div class="col-md-9 col-lg-10 ml-0 p-3 tab-content overflow-hidden"
       id="v-pills-tabContent">
    <div class="tab-pane fade show active"
         id="v-pills-who-am-i"
         role="tabpanel"
         aria-labelledby="v-pills-who-am-i-tab">
      <p>
        1_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </div>
    <div class="tab-pane fade"
         id="v-pills-background"
         role="tabpanel"
         aria-labelledby="v-pills-background-tab">
      <p>
        2_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>

    </div>
    <div class="tab-pane fade"
         id="v-pills-technical-skills"
         role="tabpanel"
         aria-labelledby="v-pills-technical-skills-tab">
      <p>
        3_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </div>
    <div class="tab-pane fade"
         id="v-pills-interest"
         role="tabpanel"
         aria-labelledby="v-pills-interest-tab">
      <p>
        4_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </div>
    <div class="tab-pane fade"
         id="v-pills-education"
         role="tabpanel"
         aria-labelledby="v-pills-education-tab">
      <p>
        5_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        popular
        during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
        line
        in
        section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </div>
    <div class="tab-pane fade"
         id="v-pills-education"
         role="tabpanel"
         aria-labelledby="v-pills-education-tab">
      <p>
        4_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </div>
    <div class="tab-pane fade"
         id="v-pills-hobbies"
         role="tabpanel"
         aria-labelledby="v-pills-hobbies-tab">
      <p>
        6_Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        Lorem
        Ipsum passage, and going through the cites of the word in classical literature, discovered the
        undoubtable
        source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
        Extremes
        of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
        classical
        Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
        Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
        original form, accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </div>
  </div>
</div>
<!--#endregion-->