<!--#region Cover Page---------------------------------------------------------------------------------------------->
<div id="coverPageId"
     class="cover_container position-relative">
  <div class="conver_image"></div>
  <div class="position-absolute text-white cover_text_container cover_text_container_show"
       in-view-animation="cover_text_container_show">
    <h1 class="display-1 text-p">CODE AND COFFEES</h1>
    <h2 class="display-4 mt-4">
      It's my website where you can check out my projects, read articles and get in
      touch.
    </h2>
  </div>
</div>
<!--#endregion-->

<!--#region Three Column Articles----------------------------------------------------------------------------------------->
<div id="blogPageId"
     class="row mx-1 justify-content-between overflow-hidden">
  <h2 class="col-12 display-4 text-center p-3 p-md-5">My Favorites 'Quotes' From Clean Code Book!</h2>
  <article class="col-sm-12 col-xl-3 d-flex flex-column border rounded-sm shadow-sm text-center mt-2 p-4 quotes_animation quates_animation_show"
           in-view-animation="quates_animation_show">
    <p class="font-italic">
      “Truth can only be found in one place: the code.”
    </p>
    <footer class="mt-auto blockquote-footer text-right">Robert C. Martin</footer>
  </article>
  <article class="col-sm-12 col-xl-3 d-flex flex-column border rounded-sm shadow-sm text-center mt-2 p-4 quotes_animation quates_animation_show"
           in-view-animation="quates_animation_show">
    <p class="font-italic">“It is not enough for code to work.” </p>
    <footer class="mt-auto blockquote-footer text-right">Robert C. Martin</footer>
  </article>
  <article class="col-sm-12 col-xl-5 d-flex flex-column border rounded-sm shadow-sm text-center mt-2 p-4 quotes_animation quates_animation_show"
           in-view-animation="quates_animation_show">
    <p class="font-italic">
      “So if you want to go fast, if you want to get done quickly, if you want your code to be
      easy to write, make
      it easy to read.”
    </p>
    <footer class="mt-auto blockquote-footer text-right">Robert C. Martin</footer>
  </article>
</div>
<!--#endregion-->
