@model GuessingGameViewModel
@{
	ViewData["Title"] = "Guessing Game";

}

<div class="container-fluid pt-3">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 rounded shadow">
			<form asp-controller="GuessingGame" method="post">
				<div class="form-group">
					<label for="guessing">Guess</label>
					<input name="guesingNumber" class="form-control" type="number" required min="1" max="99" id="guessing" aria-describedby="Guessing value" placeholder="Try Guessing 1 - 100">
				</div>
				<button type="submit" class="btn btn-primary">Check</button>
			</form>
			@if (Model != null)
			{
				<div class="alert alert-info my-3">
					<h5>@Model.Message</h5>
					<h5>You tried @Model.TryCount times</h5>
				</div>
			}
		</div>

		<div class="col-12 col-md-3">
			<h3>Top 5 Scores</h3>

			@if (!string.IsNullOrWhiteSpace(Context.Request.Cookies["highScore"]))
			{
				<ul class="list-group">
					@foreach (var score in Context.Request.Cookies["highScore"].Split(','))
					{
						<li class="list-group-item">@score hit</li>
					}
				</ul>
			}
			else
			{
				<span>Try guessing if you know binary search you can do it with no more than 7 guesses!</span>
			}
		</div>
	</div>
</div>


