@model CourseForCreatingDto
<form asp-controller="Course"
			asp-action="AddCourse"
			id="addCourseFormId"
			data-ajax="true"
			method="POST"
			data-ajax-method="POST"
			data-ajax-mode="replace"
			data-ajax-update="#dashboard_content"
			data-ajax-loading="#dashBoardLoaderId">
	<div class="form-group">
		<label asp-for="Name">Course Name</label>
		<input asp-for="Name" class="form-control" aria-describedby="CourseName" placeholder="Enter Course Name...">
		<small class="text-danger"><span asp-validation-for="Name"></span></small>
	</div>
	<div class="form-group">
		<label asp-for="Description">Course Descritpion</label>
		<textarea asp-for="Description" class="form-control" aria-describedby="CourseDescription" placeholder="Enter Course Description..."></textarea>
		<small class="text-danger"><span asp-validation-for="Description"></span></small>
	</div>
	<div class="form-group">
		<div id="courseAssignmentsContainer">

		</div>
		<div class="d-flex align-items-center">
			<a asp-controller="CourseAssignment"
				 asp-action="AddCourseAssignment"
				 data-ajax="true"
				 data-ajax-method="get"
				 data-ajax-mode="after"
				 data-ajax-success="loadFormValidation('#addCourseFormId')"
				 data-ajax-update="#courseAssignmentsContainer"
				 data-ajax-loading="#courseAssignmentsLoaderId"
				 class="btn btn-sm btn-outline-success ml-3">Add Assignment</a>
			<a asp-controller="Teacher"
				 asp-action="SelectTeacherToCourse"
				 data-ajax="true"
				 data-ajax-method="get"
				 data-ajax-mode="replace"
				 data-ajax-update="#courseTeacherContainer"
				 data-ajax-loading="#dashBoardLoaderId"
				 class="btn btn-sm btn-outline-secondary ml-3">Assign Teacher To This Course</a>
		</div>
	</div>
	<div id="courseTeacherContainer">
	
	</div>
	
	<hr class="bg-secondary" />
	<button type="submit" class="btn btn-success">Save Course</button>
</form>