@model IEnumerable<Student>
@{
	int counter = 1;
}

<table class="table table-borderless text-center">
	<thead>
		<tr class="border-bottom border-primary">
			<th scope="col">#</th>
			<th scope="col">Student Name</th>
			<th scope="col">Details</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Model)
		{
			<tr>
				<td scope="row">@counter</td>
				<td>@student.Name</td>
				<td><a href="">details</a></td>
			</tr>

			{ counter++; }
		}
	</tbody>
</table>