@model IEnumerable<Teacher>

<select class="form-control"
				asp-items="@(new SelectList(Model, "Id", "Name"))"
				id="teacherId"
				name="teacherId">
	<option selected>Without Teacher</option>
</select>