@model Teacher

  <div class="d-flex flex-wrap align-items-center">
    <h1 class="display-4">@Model.Name</h1>
    <a asp-controller="Teacher"
       asp-action="Edit"
       asp-route-teacherId="@Model.Id"
       data-ajax="true"
       data-ajax-method="get"
       data-ajax-mode="replace"
       data-ajax-update="#teacher_detail_page"
       data-ajax-loading="#loaderId"
       class="ml-auto">
      Edit
    </a>
    <p class="w-100 ml-4 text-muted">-Course count: @Model.Courses.Count</p>
  </div>

<h2 class="display-4">Courses</h2>

<!-- #region Teacher Courses Container -->
<div class="container-fluid">
	<!-- #region Courses Header -->
  <div class="row align-items-center my-1 border-bottom border-warning">
    <div class="col p-2 text-center">
      Course Name
    </div>
    <div class="col p-2 text-center">
      Students
    </div>
    <div class="col p-2 text-center">
      Assignments
    </div>
    <div class="col p-2 text-center">
      Description
    </div>
    <div class="col p-2 text-center">
      Details
    </div>
    <div class="col p-2 text-center">
      Actions
    </div>
  </div>
	<!-- #endregion -->
	<!-- #region Courses List -->
	@foreach (var course in Model.Courses)
	{
		<partial name="~/Views/Teacher/_TeacherCourseRow.cshtml" model="course" />
	}
	<!-- #endregion -->
</div>
<!-- #endregion -->