@model PersonViewModel
@{
	ViewData["Title"] = "People Data - Demo";
}

<div class="container-fluid pt-2">
	<div class="row">
		<div class="col-12 col-sm-9">
			<h3>Add new person</h3>
			<form asp-controller="Person"
						asp-action="AddNew"
						id="addNewPersonFormId"
						method="post"
						data-ajax="true"
						data-ajax-method="POST"
						data-ajax-update="#personListId"
						data-ajax-mode="replace"
						data-ajax-loading="#personListLoaderId"
						data-ajax-success="addPersonSuccess"
						data-ajax-failure="addPersonFailure"
						class="p-2 rounded shadow">
				<div class="form-group">
					<label asp-for="PersonDto.Name">Person Name: *</label>
					<input asp-for="PersonDto.Name"
								 type="text"
								 class="form-control"
								 aria-describedby="Person Name" placeholder="Enter name">
					<small>
						<span asp-validation-for="PersonDto.Name"
									class="text-danger"></span>
					</small>
				</div>
				<div class="form-group">
					<label asp-for="PersonDto.PhoneNumber">Number:</label>
					<input asp-for="PersonDto.PhoneNumber"
								 type="text" class="form-control"
								 aria-describedby="Person Number" placeholder="Enter number">
				</div>
				<div class="form-group">
					<label asp-for="PersonDto.City">City:</label>
					<input asp-for="PersonDto.City"
								 type="text" class="form-control"
								 aria-describedby="Person City:" placeholder="Enter city">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-12 col-sm-3">
			<form asp-action="Filter" method="get"
						data-ajax="true"
						data-ajax-method="GET"
						data-ajax-update="#personListId"
						data-ajax-failure="addPersonFailure"
						data-ajax-mode="replace"
						data-ajax-loading="#personListLoaderId"
						class="p-2 rounded shadow">
				<div class="form-group">
					<label for="filterId">Filter People:</label>
					<input id="filterId"
								 name="Filter"
								 value="@Model.Query.Filter"
								 type="text"
								 class="form-control"
								 aria-describedby="Filte By Name And City"
								 placeholder="Name & City">
				</div>
				<div class="form-group custom-control custom-checkbox">
					<input id="caseSensitiveCheckBoxId"
								 name="CaseSensitive"
								 value="true"
								 @Html.Raw((Model.Query.CaseSensitive) ? "checked=\"checked\"" : "")
								 type="checkbox" class="custom-control-input" />
					<label for="caseSensitiveCheckBoxId"
								 class="custom-control-label">Case Sensitive</label>
				</div>
				<div class="form-group custom-control custom-checkbox">
					<input id="descendingCheckBoxId"
								 name="Descending"
								 type="checkbox"
								 value="true"
								 @Html.Raw((Model.Query.Descending) ? "checked=\"checked\"" : "")
								 class="custom-control-input" />
					<label for="descendingCheckBoxId"
								 class="custom-control-label">Descending Order</label>
				</div>
				<button type="submit" class="btn btn-primary">
					Filter
				</button>
			</form>
		</div>
	</div>

	<hr />

	<div class="d-flex">
		<h3>
			People List
		</h3>
		<div id="personListLoaderId" class="spinner-border text-primary ml-auto" style="display:none;" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row align-items-center my-1 border-bottom border-secondary">
			<div class="col p-2 font-weight-bold">
				Name
			</div>
			<div class="col p-2 font-weight-bold">
				Phone Number
			</div>
			<div class="col p-2 font-weight-bold">
				City
			</div>
			<div class="col p-2 font-weight-bold">
				Actions
			</div>
		</div>

		<form id="personEditFormId"
					class="row my-1 shadow"
					style="display:none;"
					asp-controller="Person"
					asp-action="UpdatePerson"
					method="post"
					data-ajax="true"
					data-ajax-method="POST"
					data-ajax-success="updatePersonSuccess"
					data-ajax-failure="updatePersonFailure"
					data-ajax-loading="#personUpdateLoaderId">
			<div class="col py-2 pl-0 pr-2">
				<label asp-for="PersonDto.Name"
							 class="d-none">Person Name: *</label>
				<input asp-for="PersonDto.Name"
							 class="form-control"
							 placeholder="Enter name">
				<small>
					<span asp-validation-for="PersonDto.Name"
								class="text-danger"></span>
				</small>
			</div>
			<div class="col p-2">
				<label asp-for="PersonDto.PhoneNumber"
							 class="d-none">Number:</label>
				<input asp-for="PersonDto.PhoneNumber"
							 class="form-control"
							 placeholder="Phone Number">
			</div>
			<div class="col p-2">
				<label asp-for="PersonDto.City"
							 class="d-none">City:</label>
				<input asp-for="PersonDto.City"
							 class="form-control"
							 aria-describedby="Person City:"
							 placeholder="City">
			</div>
			<input name="id" type="hidden"/>
			<div class="col p-2">
				<div class="d-flex align-items-center">
					<button type="submit" class="btn btn-success">Save</button>
					<button id="cancelEditButtonId"
									type="button" class="btn btn-danger ml-1">
						Cancel
					</button>
					<div id="personUpdateLoaderId"
							 class="spinner-border text-primary ml-auto"
							 style="display:none;"
							 role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>

			</div>
		</form>
	</div>

	<div id="personListId" class="container-fluid">
		<partial name="~/Views/Shared/_PersonList.cshtml" model="Model" />
	</div>
</div>

@section Scripts {
	<environment include="Development">
		<script src="~/js/person-bandle.js"></script>
	</environment>
}
