.school_dashboard_cover_text {
  text-align: center;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.28); }

.scm-translateY-up {
  z-index: 2;
  transform: translateY(-50%); }

.scm-translateY-down {
  z-index: 2;
  transform: translateY(50%); }
