@model Student
@{
	ViewData["Title"] = Model.Name;
}

@section Styles {
	<environment include="Development">
		<link href="~/css/school_management.css" rel="stylesheet" type="text/css" />
	</environment>
}

<div class="container-fluid">
	<partial name="~/Views/Student/_StudentDetails.cshtml" model="Model" />
</div>

@section Scripts {
	<environment include="Development">
		<script src="~/js/schoolManagement-bandle.js"></script>
	</environment>
}