@model Person
<div class="row align-items-center my-1 shadow" id="person_row_@Model.Id">
	<div name="name" bindable-property class="col p-2">
		@Model.Name
	</div>
	<div name="phoneNumber" bindable-property class="col p-2">
		@Model.PhoneNumber
	</div>
	<div name="city"bindable-property class="col p-2">
		@Model.City
	</div>
	<div class="col p-2">
		<div class="d-flex">
			<button edit-person="person_row_@Model.Id" type="button" class="btn btn-outline-primary mr-2">Edit</button>
			<form asp-controller="Person"
						asp-action="Delete"
						data-ajax="true"
						data-ajax-success="deletePersonSuccess"
						data-ajax-failure="deletePersonFailure"
						data-ajax-method="post"
						data-ajax-loading="#personListLoaderId"
						method="post">
				<input type="hidden" name="id" bindable-property asp-for="@Model.Id" />
				<button type="submit" class="btn btn-outline-danger">Delete</button>
			</form>
		</div>
	</div>
</div>